<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>The template</title>
	<link rel="stylesheet" href="css/home.css">
</head>
<body>
	<header>
		<table>
			<tr>
				<td>
					<img src="imgs/firefly.jpg">
					<figcaption><b>Some Image</b></figcaption>
				</td>
				<td id="name">
						Piyali Sarkar<br>
						Malanchapally<br>
						Malda<br>
						West bengal
				</td>
		</tr>
		</table>
	</header>
	<nav>
			<a href="index.html">Home</a>
			<a href="about.html">About</a>
			<a href="faq.html">FAQ</a>
			<a href="contact.html">Contact Us</a>
			<a href="abc.html">Can add further pages</a>
	</nav>
	<div class="bkgrnd">
	  <div class="text">
	  		<p>This is something fancy about whatever the page is about.</p>
	  </div>
	</div>
	<h2>Lorem Ipsum</h2>
		<p>
			dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
		</p>
		<p>
			dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
		</p>

























</body>
</html>