<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>The template</title>
	<link rel="stylesheet" href="css/home.css">
</head>
<body>
	<header>
		<table>
			<tr>
				<td>
					<img src="imgs/firefly.jpg">
					<figcaption><b>Some Image</b></figcaption>
				</td>
				<td id="name">
						Piyali Sarkar<br>
						Malanchapally<br>
						Malda<br>
						West bengal
				</td>
			</tr>
		</table>
	</header>
	<nav>
			<a href="index.html">Home</a>
			<a href="about.html">About</a>
			<a href="faq.html">FAQ</a>
			<a href="contact.html">Contact Us</a>
			<a href="abc.html">Can add further pages</a>
	</nav>
	<div class="contact">
		<img src="imgs/office.jpeg">
		<p>
			<b>Branch Name<br></b>
			Address<br>
			Contact Person<br>
			Email<br>
			Mobile
		</p>
	</div>
		<div class="contact">
		<img src="imgs/office.jpeg">
		<p>
			<b>Branch Name<br></b>
			Address<br>
			Contact Person<br>
			Email<br>
			Mobile
		</p>
	</div>
		<div class="contact">
		<img src="imgs/office.jpeg">
		<p>
			<b>Branch Name<br></b>
			Address<br>
			Contact Person<br>
			Email<br>
			Mobile
		</p>
	</div>
</body>
</html>