body{
	/*background-image: 
	url(https://subhrendu1987.github.io/Background/bg_lightwoodfloor.jpg);
	background-size: cover;*/
	font-weight: bold;
	font-family: Century Gothic, sans-serif;
	font-size: 100%;
}
table{
	border: 5px; 
	padding-left: 200px;
	padding-top: 5px;
	width: 80%;
	text-align:justify;

}
#logo{
	border-radius: 60px;
}
th{
text-align: left;
font-family: 'brush script MT', cursive; 
font-size: 250%;
}
.academics{
	font-size: 200%;
}
/* nameplate css ends; includes background image and font description for the body*/
nav{
	padding-top: 10px;
	text-align:center;
}
nav a{
	display: inline-block;
	width: 20%;
    background-color: #000000;
    text-align: center;
    color: #ffffff;
}
a{
	text-decoration: none;
	font-weight: bold;
	font-family: Century Gothic, sans-serif;
	font-size: 100%;
	color: red;
   
}
/*css for the navigation bar with the home button and links for external pages ends*/
#dp{
	border-radius: 60px;
	max-height: 360px;
	padding-right: 30px;
}
/*Subhrendu's image css ends*/
/* css specific to publications.html */
li{
	border-width: 1px;
	border-bottom: solid;
}
q{
	color: red;
	font-style: italic;
}
.name{
	color: red;
	font-weight: bold;
}
.date{
	color: pink;
}
.pdf{
	width: 20px;
}
/*css sprcific to academics page*/
#a{
	width: 100%;
	padding-left: 0px;
}
#a td {
    text-align: justify;
    vertical-align: top;
    width: 25%;
}
#a th{
	text-align: center;
}
button{
width: 200px;
    height: 40px;
    margin-top: 25px;
    border: none;
    margin-bottom: 5px;
    border-radius: 15px;
    outline: none;
}
button:active {
  box-shadow: 0 5px blue;
  transform: translateY(4px);
}
/***css for academics ends*/
/*** starting css for contact ***/
.addtype{
	font-size: 18px;
	color: blue;
}
#add td{
    text-align: left;
    vertical-align: top;
    padding-right: 30px;
}
#add{
	text-align: justify-all;
}
/**** contact css ends****/
iframe{
	width: 100%;
	height: 1500px;
	border: none;
}
#dp2{
	border-radius: 60px;
	max-height: 360px;
}