a{
  text-decoration: none;
}
body{
  font-family: Century Gothic, sans-serif;
}
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  padding: 10px 10px;
  padding-left: 25px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*........................*/
#img-self{
  border-radius: 25px;
}
h1{
  font-size: 25px;
}
p{
  font-size: 20px;
}
/*.........................*/
#mail{
  font-size: 20px;
  padding-top: 25px;
}
/*..............................*/
#academics{
  font-size: 20px;
  padding-top: 20px;
}




#extLinks
{
width: 70%;
border: solid;

}
