body{
	background: #3c4572;
	margin: 5%;
	font-size: 120%
}
header{
	text-align: center;
	background:#e8b494;
	padding-bottom: 15px;
	padding-top: 2px;
}
section{
	display: inline-block;
	width: 30%; float: left; margin-right: 2%;
}
details{
	font-style: italic;
}
summary{
	font-style: normal; font-family: arial;
}
footer{
	height: 100px;
	clear: both;
}
img{
	width: 100px;
}
a{
	color: #ffffff;
	background: #abcdef;
	margin: 3px;
	border-style: solid;
	border-width: 3px;
	border-color: #c15353;
	padding: 3px;
}

























