header{
	background-color: #9bbdf2;
}
h1{
	text-align: center;
	color: #d3a0d2;
	text-transform: uppercase;
}
h2
{
	color: #ba75b2;
	text-transform: uppercase;
	
}
img{
	display: none;
}
section{
	background-color: #e88698;
}
a{
	color: #8d63b5;
	background-color: #dbba95;
}






